<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<link href="style.css" rel="stylesheet" type="text/css">
	<title>Web Assembly</title>
</head>
<body>
    <h1>Web Assembly</h1>
    <div id='wasm'></div>
    <script>
        if('WebAssembly' in window) {
            WebAssembly.instantiateStreaming(fetch('wasm/seven.wasm'))
                .then(result => { 
                    console.dir(result)
                    document.getElementById('wasm').innerHTML = 
                    'Output: ' + result.instance.exports._seven()      
                });
        }
    </script>
</body>
</html>